# --- LOGS ---
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- DEPENDENCIES ---
node_modules/
proxy-server/node_modules/
client/node_modules/

# --- BUILD OUTPUT ---
dist/
client/dist/
dist-ssr/
*.local

# --- ENV ---
.env
.env.local

# --- PACKAGE LOCKS ---
pnpm-lock.yaml
yarn.lock

# --- TEMP / CACHE / DATA ---
*.csv
*.tsbuildinfo

# --- PARSE & SERVER FILES (CUSTOM) ---
proxy-server/parse/
proxy-server/files/
proxy-server/server-api.js
proxy-server/json/
proxy-server/**/*.js

# --- IDE / SYSTEM FILES ---
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- AUTRES ---
_AUTRES/

mongodb/data
